<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
   <div id="header" class="text-center">
   	<h1>USE TWICH</h1>
   	<div class="row">
   		<h1>
   		<div class="col-md-4">
   			All
   		</div>
   		<div class="col-md-4">
   			Online
   		</div>
   		<div class="col-md-4">
   			Offline
   		</div>
   		</h1>
   	</div>
   </div>
</div>

</body>
</html>